.userForm__input {
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 50px;
}

.submitBtn_disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}